/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
font-family: 'Raleway', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
*{
  margin: 0;
  padding: 0;
}
p,h1,h2,h3,h4{
  margin:0;
}
ul{
  padding: 0;
  margin:0;
}
body{
   font-family: 'Raleway', sans-serif;

}
.whats{
 background: #09d261db;
    color: #fff;
    position: fixed;
    right: 0;
    z-index: 99999;
    top: 30%;
    padding: 20px 10px;
    max-width: 140px;
    text-align: center;
}
.whats a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.whats a i{
  font-size: 20px;
}
.topo{
  padding: 15px 0;
  position: relative;
  background: #fff;
  z-index: 999999;
  padding-bottom:0;
      width: 100%;
      transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
  .topo a{
    text-decoration: none;
  }
   .topo a img{
    max-width: 120px;
    display: block;
    margin: 0 auto;
    transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
    }
    .topo a p{
      text-align: center;
      color: #921521;
      font-weight: 700;
      font-size: 12px;
      margin-top: -4px;
      margin-bottom: 20px;
      transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;

    }
  .topo nav{
    text-align: center;
  }
    .topo nav a{
      text-align: center;
      color: #58595b;
      font-weight: 600;
      font-size: 20px;
      display: inline-block;
      padding: 10px 20px;
    }
    .topo nav a:hover{
      background: #921521;
       color: #fff;
    }

.pg-inicial{
    margin-bottom: 600px;
    z-index: 99;
    position: relative;
    background: #fff;
        padding-bottom: 50px;
}
  .pg-inicial .carrossel .item{

  }
    .pg-inicial .carrossel .item figure{
      display: block;
      width: 100%;
      height: 450px;
      background-size: cover!important;
      background-position: center!important;
      position: relative;
    }
  .pg-inicial .carrossel .item .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    min-height: 200px;
    padding-top:50px;
  }
    .pg-inicial .carrossel .item .texto h2{
      color: #fff;
      font-size: 70px;
      text-shadow: 2px 3px 5px rgba(0,0,0,0.58);

    } 
    .pg-inicial .carrossel .item .texto p{
      color: #fff;
      font-size: 20px;
      font-style: italic;
      margin-top: 5px;
      text-shadow: 2px 3px 5px rgba(0,0,0,0.58);
    }

section.sobre{
  margin-top: 60px;
}
  section.sobre .texto{
    padding: 50px 40px;
    max-width: 500px;
    margin: 55px auto 0;
    border: 1px solid #bdbdbd;
    min-height: 300px;
  }
    section.sobre .texto h3{
      font-size: 40px;
      margin-bottom: 40px;
      font-family: 'Raleway', sans-serif;
      color:#666;
    } 
    section.sobre .texto p{
      color:#666;
    }
  section.sobre  figure{
    width: 370px;
    height: 370px;
    border-radius: 100%;
    margin: 0 auto;
    background-position: center!important;
    background-size: cover!important;

  } 
    section.sobre  figure img{
      display: block;
      width: 100%;
      max-width: 390px;
      margin: 0 auto 0;
      border-radius: 5px;
    }
     section.sobre .texto2{
        max-width: 1072px;
        margin: 70px auto;
     }
    section.sobre .texto2 h3{
      font-size: 40px;
      margin-bottom: 30px;
      font-family: 'Raleway', sans-serif;
      color:#666;
    }
     section.sobre .texto2 p{
      color:#666;
     }
     section.sobre .texto2 .foto{
      margin:40px 0;
     }
       section.sobre .texto2 .foto figure{
          display: inline-block;
          max-width: 33%;
       } 
         section.sobre .texto2 .foto figure img{
        
         }  
section.newssllater{
  background: url(../img/news.jpg);
  min-height: 300px;
  background-size: cover!important;
  background-position: center!important;
  background-attachment: fixed;
  margin-bottom: 50px;
  position: relative;
}
section.newssllater:before{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background: #0000009e;

}
section.newssllater .form{
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 60px;
}
  section.newssllater .textoNews{
  
  }
    section.newssllater .textoNews p{
      color: #fff;
      font-size: 35px;
      font-weight: 800;

    }
    section.newssllater .textoNews span{
      color: #fff;
      font-size: 20px;
      display: block;
      margin-bottom: 35px;
    }
    section.newssllater input[type="text"]{
      padding: 10px;
      border-radius: 2px;
      border: none;
      width: 233px;
      outline: none;
    }
    section.newssllater input[type="submit"]{
      background: #a40821;
      color: #fff;
      font-weight: 500;
      padding: 10px 30px;
      border: none;
      outline: none;
    }

.instagram{
  max-width: 1287px;
 margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 0;
}
  .instagram a{
  
  }
  .instagram .tituloInstagram{
   
  }
    .instagram .tituloInstagram p{
      font-size: 35px;
      color: #fff;
      font-weight: 700;
    }
    .instagram .tituloInstagram span{
      font-size: 30px;
      color: #fff;
      font-weight: 300;
    }
    .instagram .tituloInstagram strong{
    
    }
    .instagram a .itemInstagram{
       width: 20.4%;
    height: 180px;
    display: inline-block;
    background-size: cover!important;
    position: relative;
    margin: 2px;
    } 
      .itemInstagram:before {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
      }
      .itemInstagram:hover:before {
          background: rgb(0,0,0,0.37);
      }
      .instagram a .itemInstagram .likeComments{
        position: absolute;
        display: block;
        top: 0;
        z-index: 9999999;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
      .instagram a .itemInstagram .likeComments .likes{
        opacity: 0;
        font-size: 18px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
      }
      .instagram a .itemInstagram .likeComments .comments{
        opacity: 0;
        font-size: 18px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
      }
      .instagram a .itemInstagram:hover .likes {
          opacity: 1;
      }
      .instagram a .itemInstagram:hover .comments {
          opacity: 1;
      }
      .likes:before{
        content: " ";
        display: inline-block;
        background: url(https://recursos.crisecia.com.br/i/imgSite/like.png);
        width: 15px;
        height: 13px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
      }
      .comments:before {
        content: " ";
        display: inline-block;
        background: url(https://recursos.crisecia.com.br/i/imgSite/chat.png);
        width: 15px;
        height: 13px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
    }
.btnFaleComigo{
  display: block;
  padding: 10px;
  margin: 50px auto;
  max-width: 222px;
  background: #a01521;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border:solid 1px;
}
  .btnFaleComigo:hover{
    border-color:#a01521;
   background: #fff;
   color: #a01521;
  }
  section.depoimentos .row{
    margin-bottom: 80px;
  }
    section.depoimentos>h3{
      text-align: center;
      font-size: 40px;
      color: #a01521;
      font-weight: 600;
      margin-bottom: 60px;
    }
     section.depoimentos .depoimento{
      
    }
     section.depoimentos .depoimento h2{
      font-size: 25px;
      font-weight: 600;
      color: #a01521;
      margin-bottom: 15px;
    }
    section.depoimentos .textoDep {
    
    }
    section.depoimentos .textoDep p {
      color: #666;
    } 
     section.depoimentos .depoimentoFoto{

    }
     section.depoimentos .depoimentoFoto img{
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
      section.depoimentos .depoimentoFoto h3{
        font-size: 17px;
        text-align: center;
        max-width: 305px;
        margin: 10px auto;
    }

section.programa{
  padding-top: 60px;
}
  section.programa  h3.titulop{
    text-align: center;
    font-size: 40px;
    color: #a01521;
    font-weight: 600;
    margin-bottom: 60px;
  } 
  section.programa .eusouGigante{

  }
  section.programa .eusouGigante ul{
    margin:20px 0;
  }
  section.programa .eusouGigante ul li{
    margin-bottom:20px;
  }
    section.programa .eusouGigante .titutlo{

    }
      section.programa .eusouGigante .titutlo h2{
        font-size: 25px;
        font-weight: 600;
        color: #a01521;
        margin-bottom: 15px;
      }
      section.programa .eusouGigante .titutlo p{
        color: #666;

      }
       section.programa p{
        margin-bottom: 10px;
       }
  section.programa .icones{

  }
  section.programa .icones p{
    text-align: center;
    font-weight: 700;
    color: #a01521;
    font-size: 16px;
  }
    section.programa .icones ul{
      padding:0;
      list-style: none;
      margin:0;
      text-align: center;
      padding-top: 50px;
    }
      section.programa .icones ul li{
        width: 49%;
        display: inline-block;
        margin-bottom: 20px;
      }
        section.programa .icones ul li figure{
          background: #a01521;
          max-width: 150px;
          height: 150px;
          border-radius: 100%;
          margin: 0 auto;
          padding-top: 23px;
          -webkit-box-shadow: 0px 0px 3px 0px #000000; 
          box-shadow: 0px 0px 3px 0px #000000;
        }
          section.programa .icones ul li  img{
            display: block;
            max-width: 90px;
            margin: 0 auto;

          }
          section.programa .icones ul li  h2{
            font-size: 25px;
            font-weight: 600;
            color: #a01521;
            padding-top: 20px;
            margin-bottom: 15px;
          }
  section.contato{
    padding-top: 100px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
   section.contato .form{
    
  }
    section.contato h3{
      text-align: center;
      font-size: 40px;
      color: #a01521;
      font-weight: 600;
      
    }
    section.contato p{
      font-size: 25px;
      font-weight: 600;
      color: #a01521;
      margin-bottom: 15px;
    }
    section.contato .inputs{
    
    } 
      section.contato .col-sm-4 .inputs  input{
        width: 95%;
        margin: 0 auto;
        border: solid #a01521 1px;
        padding: 12px;
      }
      section.contato .inputs  input[type="submit"]{
        padding: 10px 55px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        background: #a01521;
      }
      section.contato .inputs  textarea{
        border: solid #a01521 1px;
        margin-top: 10px;
        display: block;
        width: 100%;
        max-width: 98%;
        height: 175px;
        margin: 10px auto;
        padding: 10px;
      }

    footer{
      background: #a01521;
      padding: 30px 0;
      color: #fff;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
      footer strong{
      
      }
      footer p{
      
      }

      .topo.topoFixed{
        
      }  
      .topo.topoFixed  a img{
        position: absolute;
        max-width: 78px;
        top: 5px;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .topo.topoFixed a p{
        display: none;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .topo.topoFixed{
       padding: 0;
       position: fixed;
       transition:All 1s ease;
       -webkit-transition:All 1s ease;
       -moz-transition:All 1s ease;
       -o-transition:All 1s ease;
      }

/* PÁGINA NEWSLETTER */
.pg-newsletter{

}
  .pg-newsletter .destaque{
    background-image: url("../img/news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .pg-newsletter .destaque::before{
    content: '';
    background-color: #000;
    opacity: .6;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
    .pg-newsletter .destaque .imagem{

    }
      .pg-newsletter .destaque .imagem figure{

      }
        .pg-newsletter .destaque .imagem figure img{

        }
    .pg-newsletter .destaque .texto{
      text-align: center;
      width: 100%;
      max-width: 630px;
      margin: 55px auto;
      color: #fff;
    }
      .pg-newsletter .destaque .texto h1{
       font-size: 26px;
       padding: 15px 0;
       border-top: 1px solid;
       border-bottom: 1px solid;
       margin: 10px 0;
      }
      .pg-newsletter .destaque .texto h3{
        font-size: 20px;
        margin: 12px 0 0;
        font-weight: 300;
      }
      .pg-newsletter .destaque .texto .botao{

      }
        .pg-newsletter .destaque .texto .botao button{
          border: none;
          border-radius: 35px;
          background-color: #921521;
          color: white;
          margin: 55px auto;
          font-size: 25px;
          width: 100%;
          max-width: 500px;
          padding: 10px;
        }
  .pg-newsletter .documentoPdf{

  }
    .pg-newsletter .documentoPdf h3{
      text-align: center;
      padding: 30px 0;
      font-size: 20px;
    }
    .pg-newsletter .documentoPdf .imagemPdf{

    }
      .pg-newsletter .documentoPdf .imagemPdf figure{
        width: 100%;
        max-width: 270px;
        text-align: center;
        margin: 0 auto;
      }
        .pg-newsletter .documentoPdf .imagemPdf figure img{
          width: 100%;
          max-width: 270px;
        }
    .pg-newsletter .documentoPdf p{
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
    .pg-newsletter .documentoPdf .desc {
      width: 100%;
      max-width: 1105px;
      margin: 10px auto 40px;
    }
      .pg-newsletter .documentoPdf .desc p{
        font-size: 16px;
        font-weight: 600;
      }
    .pg-newsletter .documentoPdf .clique-aqui{
      margin: 24px 0;
      font-size: 20px;
    }
    .pg-newsletter .documentoPdf .btnPdf{
      width: 100%;
      max-width: 700px;
      margin: 35px auto;
      text-align: center;
    }
      .pg-newsletter .documentoPdf .btnPdf button{
        border: none;
        border-radius: 35px;
        background-color: #921521;
        color: white;
        font-size: 25px;
        padding: 10px;
        width: 100%;
        max-width: 520px;
      }
      .pg-newsletter .destaque .texto .destaque-baixo {
        font-size: 26px;
        padding: 0;
        border-top: none;
        border-bottom: none ;
        margin: 0;
      }
.pg-popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
  .pg-popup .newsletter {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
  }
  .pg-popup .newsletter h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 12px 0;
  }
    .pg-popup .newsletter form {

    }
      .pg-popup .newsletter form input{
        width: 100%;
        max-width: 325px;
        padding: 12px 0;
        border: 2px solid #cececea8;
        margin: 8px auto;
        display: block;
        background-color: #d8d8d82b;
      }
      .pg-popup .newsletter form input::placeholder {
        color: #555;
        text-indent: 15px;
        font-size: 15px;
        font-weight: 500;
      }
      .pg-popup .newsletter form .botao{
        border: none;
        border-radius: 35px;
        background-color: #921521;
        color: white;
        font-size: 20px;
        padding: 15px;
        width: 100%;
        max-width: 470px;
        margin: 25px auto;
      }
      .pg-popup .newsletter span{
        text-align: center;
        display: block;
        font-size: 12px;
      }
      .pg-popup .newsletter .fechar {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }

  /* MEDIA QUERY */
    @media(max-width: 1200px){
      .pg-newsletter .destaque .texto,.pg-newsletter .documentoPdf,.pg-popup{
        padding: 0 20px;
      }
    }
    @media(max-width: 991px){
      .pg-newsletter .documentoPdf .btnPdf button ,.pg-newsletter .destaque .texto .botao button,.pg-popup .newsletter form .botao{
        font-size: 18px;
        max-width: 400px;
        padding: 10px;
      }
      .pg-newsletter .destaque .texto h1 {
        font-size: 21px;
      }
      .pg-newsletter .destaque .texto h3 {
        font-size: 18px;
      }
      .pg-newsletter .documentoPdf .desc p {
        font-size: 15px;
      }
      .pg-newsletter .documentoPdf .btnPdf {
        margin: 16px auto;
      }
      .pg-popup .newsletter h2 {
        font-size: 19px;
      }
    }
    @media(max-width: 610px){
      .pg-newsletter .destaque .texto h3 {
        text-align: left;
      }
      .pg-newsletter .documentoPdf .desc p{
        text-align: left;
      }
      .pg-newsletter .documentoPdf p{
         text-align: center;
         margin: 10px 0;
       }
      .pg-newsletter .documentoPdf .clique-aqui{
        text-align: center;
      }
      .pg-newsletter .destaque .texto h3 {
        font-size: 16px;
      }
      .pg-newsletter .destaque .texto h1,.pg-newsletter .documentoPdf h3,.pg-newsletter .documentoPdf .clique-aqui {
        font-size: 19px;
      }
      .pg-newsletter .documentoPdf .btnPdf button, .pg-newsletter .destaque .texto .botao button, .pg-popup .newsletter form .botao {
        font-size: 16px;
        max-width: 320px;
        padding: 10px;
        border-radius: 6px;
      }
      .pg-popup .newsletter {
        margin: 30px auto;
      }
      .pg-newsletter .destaque .texto {
        margin: 35px auto 0;
      }
    }
    @media(max-width: 445px){
      .pg-newsletter .destaque .texto h3 {
        font-size: 15px;
      }
      .pg-newsletter .destaque .texto h1, .pg-newsletter .documentoPdf h3, .pg-newsletter .documentoPdf .clique-aqui {
        font-size: 16px;
      }
      .pg-newsletter .documentoPdf .btnPdf button, .pg-newsletter .destaque .texto .botao button, .pg-popup .newsletter form .botao {
        font-size: 14px;
        max-width: 260px;
        padding: 10px;
        border-radius: 6px;
      }
      .pg-newsletter .documentoPdf .desc p {
        font-size: 13px;
      }
      .pg-newsletter .destaque .texto h1, .pg-newsletter .documentoPdf h3, .pg-newsletter .documentoPdf .clique-aqui {
        font-size: 15px;
      }
      .pg-popup .newsletter h2 {
        font-size: 15px;
      }
    }

